# KiCad ignores
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

*.bin
*.elf
*.list
*.o

fp-info-cache
*-backups
*kicad_prl

# STM32CubeIDE ignores
.metadata
.settings
[Rr]elease
[Dd]ebug
*.launch

# misc ignores
.vscode